#database
DB_HOST="localhost"
DB_USER="username"
DB_PASSWORD="password"
DB_NAME="database"
DB_PORT="3306"

CLIENT_URL="http://localhost:3000"

# server port
PORT="3001"

JWT_SECRET="token_para_criptografar_os_dados_do_usuario"
