SECRET="FPFn8|-0SRa+>>p=+;J>>)z]g)cp8(5*|g|XRK+s[&l[V2lLQo+As3RNtt;o}]L/"
BINANCE_TICKER_API_URL="https://api1.binance.com/api/v3/ticker/price"
DB_CONNECT_STRING="mongodb+srv://algosandbox:lUPAprbWoIWtMPLd@cluster0.pv6de.mongodb.net/algotrading?retryWrites=true&w=majority"